@import "tailwindcss";
@import "tw-animate-css";

@theme  {
  --breakpoint-*: initial;
  --breakpoint-sm1: 320px;
  --breakpoint-sm2: 525px;
  --breakpoint-md1: 768px;
  --breakpoint-md2: 900px;
  --breakpoint-lg1: 1024px;
  --breakpoint-lg2: 1250px;
  --breakpoint-xl: 1440px;
}






.helvetica {
  font-family: Helvetica;
  font-weight: 400, 500, 600, 700, 800;
}


.home-grid {
  display: grid;
  grid-template-rows: repeat(2, 330px);
  grid-template-columns: repeat(2, 330px);
  gap: 10px;
}

@media (min-width: 320px) and (max-width: 524px) {
  .home-grid {
    grid-template-rows: repeat(2, 140px);
    grid-template-columns: repeat(2, 140px);
  }  
}




.btn-fill {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-fill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #FF9F0D; /* cyan-500 */
  z-index: -1;
  transition: width 0.7s ease;
}

.btn-fill:hover::before {
  width: 100%;

}

.card {
  box-shadow: 0 0 10px #9b9b9b1a;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  transform: scale(1.035);
  box-shadow: 0 0 20px #cbcbcb;
}